// @import "materialize";
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Montserrat');

@font-face {
    font-family: Faruma;
    src: url("../fonts/Faruma.otf")
}

@font-face {
    font-family: Faseyha;
    src: url("../fonts/MV_Faseyha.otf")
}

@font-face {
    font-family: DAM_Kathivalhi;
    src: url("../fonts/DAM_Kathivalhi.otf")
}

@font-face {
    font-family: 'MV Waheed';
    src: url("../fonts/MVWaheed.otf")
}

.font-hammer {
    font-family: 'Hammersmith One', sans-serif;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.font-faruma {
  font-family: Faruma !important;
  text-align: right !important;
}

/*
* Pixuslab Branding
*/

html {
    // min-height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    // min-height: 100%;
}

body.login {
    background-image: url(../img/bg-material.jpg);
    background-size: cover;
}

.brand-logo {
    font-family: 'Hammersmith One', sans-serif;
}

.side-nav {

    .brand-logo {
        height: 300px !important;
        width: 100%;
        padding: 30px;
        position: static;

        img {
            width: calc(100% - 0px);
            height: calc(100% - 0px );
        }
    }

    hr {
        margin: 0px;
    }

    .userView {
        position: relative;
        padding: 13px 32px 13px;
        margin-bottom: 8px;
    }

}


nav.nav-breadcrumb {
    height: 42px;
    line-height: 42px;

    .breadcrumb { 
        font-size: 14px;
    }
}

footer.page-footer {
    background-color: #b71b1c;


    .footer-copyright {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }
}

.home-title {
    height: 500px;
    margin-bottom: 50px;
}

.bg1 {
    background-image: url('../img/bg1.jpg');
    background-position: center center;
    background-size: 100% auto;
}

.collection-dir {

    .material-icons {
        position: absolute;
    }

    .title {
        padding-left: 50px;
    }
}

.container-pad {

    padding-top: 30px;
    padding-bottom: 20px;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

.icon-box {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 3px;
    margin: 10px 10px;

    img {
        width: 50px;
    }

    p {
        margin-bottom: 0px;
    }
}

.modal-fullscreen {
    top: 0px !important;
    height: 100% !important;
    width: 100% !important;
    max-height: 100% !important;
}

.dashboard-notification-1 {

  .count {
    font-size: 32px !important;
    text-align: center;
    font-weight: 700;
  }
}


// Page Login Start
body#login {
}

.card-login {
    margin-top: 100px;
}
// Page Login End

// Margin / Padding Start

.margin-left-m10-lg {
    margin-left: -10px;
}

.margin-left-10-m {
    margin-left: auto;
}

// Margin / Padding End

// General Start
.side-nav-margin-left-on-large {
    margin-left: 310px;
}

body {
    // Flex
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
// General End

// Scroll
.scrollbar-cyan::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #d9f4f7; }

.scrollbar-cyan::-webkit-scrollbar-thumb {
  // border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(27, 167, 183, 0.1);
  background-color: #0097a7; }

.scrollbar-pink::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-pink::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-pink::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ec407a; }

.scrollbar-indigo::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-indigo::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-indigo::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #3f51b5; }

.scrollbar-black::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-black::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-black::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #000; }

.scrollbar-lady-lips::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-lady-lips::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-lady-lips::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); }

.scrollbar-near-moon::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-near-moon::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-near-moon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #b490ca 100%);
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%); }

.bordered-pink::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #ec407a; }

.bordered-pink::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-indigo::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #3f51b5; }

.bordered-indigo::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.bordered-black::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #000; }

.bordered-black::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none; }

.square::-webkit-scrollbar-track {
  border-radius: 0 !important; }

.square::-webkit-scrollbar-thumb {
  border-radius: 0 !important; }

.thin::-webkit-scrollbar {
  width: 6px; }
// Scroll End

// Slider Start
.slider-image {

    img {
        width: 100%;
    }
}
// Slider End

//Fab
.fixed-action-btn {
    // bottom: 50px;
}

.useraccess {
    padding-right: 20px;
}

.input-field-dh {
    direction: rtl;
    font-family: Faruma;

    label {
        text-align: right;
        padding-right: 1.50rem;
    }
}

.ref-woff-40 {
    width: calc(50% - 40px) !important;
}

.modal-viewobject {
    color:#212121;

    .modal-header {
        padding: 20px;
        width: 100%;

        h1,h2,h3,h4,h5 {
            margin: 0px;
        }

        &.ready {
            background-color: #bdbdbd;
            animation:readyAnimate 5s;
            -moz-animation:readyAnimate 5s infinite; /* Firefox */
            -webkit-animation:readyAnimate 5s infinite; /* Safari and Chrome */
        }

        @keyframes readyAnimate /* Firefox */
        {
            0%   {background:#bdbdbd;}
            50%  {background:#e0e0e0;}
            100%   {background:#bdbdbd;}
        }

        @-moz-keyframes readyAnimate /* Firefox */
        {
            0%   {background:#bdbdbd;}
            50%  {background:#e0e0e0;}
            100%   {background:#bdbdbd;}
        }

        @-webkit-keyframes readyAnimate /* Safari and Chrome */
        {
            0%   {background:#bdbdbd;}
            50%  {background:#e0e0e0;}
            100%   {background:#bdbdbd;}
        }
    }
}


@media only screen and (max-width: 991px)
{
    .side-nav-margin-left-on-large {
        margin-left: 0px;
    }

    .margin-left-m10-lg {
        margin-left: auto;
    }

    .margin-left-10-m {
        margin-left: 10px;
    }
}


//Datatable
.btn.first {
    margin-right: 5px;
}

.btn.previous {
    margin-right: 5px;
}

.btn.next {
    margin-left: 5px;
}

.btn.last {
    margin-left: 5px;
}

.row.table {
    overflow: hidden;
    overflow-x: scroll;
}

.row.table::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

.row.table::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

.row.table::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

.pagination li.active {
    background-color: #00838f;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tbody th, table.dataTable tbody td {
    border-bottom: 1px solid #d8d8d8 !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #c5c5c5 !important;
    border-top: 1px solid #c5c5c5 !important;
}


// CLOUD CLOUD CLOUD
.side-nav-footer {
    bottom: 60px;
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 300px;
    padding-left: 35px;

    p {
        margin: 0;
        font-size: 12px;
    }
}

.user-info-container {

    img {
        height: 200px;
        width: 100%;
    }

    .card-user {
        width: 250px;
        margin-left: calc(50% - 125px);
        margin-top: -110px;
        position: relative;

        .user-image {
            width: 100px;
            height: 100px;
            margin-left: 50px;
        }

        .name {
            font-size: medium;
            text-align: center;
            margin-bottom: 5px;
        }

        .designation {
            text-align: center;
            font-size: small;
            margin-top: 0px;
        }
    }
}


// Material Table
div.material-table {
  padding: 0;
}

div.material-table .hiddensearch {
  padding: 0 14px 0 24px;
  border-bottom: solid 1px #DDDDDD;
  display: none;
}

div.material-table .hiddensearch input {
  margin: 0;
  border: transparent 0 !important;
  height: 48px;
  color: rgba(0, 0, 0, .84);
}

div.material-table .hiddensearch input:active {
  border: transparent 0 !important;
}

div.material-table table {
  table-layout: fixed;
}

div.material-table .table-header {
  height: 64px;
  padding-left: 24px;
  padding-right: 14px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-display: flex;
  border-bottom: solid 1px #DDDDDD;
}

div.material-table .table-header .actions {
  display: -webkit-flex;
  margin-left: auto;
}

div.material-table .table-header .btn-flat {
    min-width: 36px;
    padding: 0 8px;
}

div.material-table .table-header input {
  margin: 0;
  height: auto;
}

div.material-table .table-header i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
}

div.material-table .table-footer {
  height: 56px;
  padding-left: 24px;
  padding-right: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .dataTables_length {
  display: -webkit-flex;
  display: flex;
}

div.material-table .table-footer label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .select-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {
  margin-right: 32px;
}

div.material-table .table-footer .material-pagination {
  display: flex;
  -webkit-display: flex;
  margin: 0;
}

div.material-table .table-footer .material-pagination li:first-child {
  margin-right: 24px;
}

div.material-table .table-footer .material-pagination li a {
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .select-wrapper input.select-dropdown {
  margin: 0;
  border-bottom: none;
  height: auto;
  line-height: normal;
  font-size: 12px;
  width: 40px;
  text-align: right;
}

div.material-table .table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 20px;
}

div.material-table .table-title {
  font-size: 20px;
  color: #000;
}

div.material-table table tr td {
  padding: 0 0 0 56px;
  height: 48px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: solid 1px #DDDDDD;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.material-table table tr td a {
  color: inherit;
}

div.material-table table tr td a i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table table tr {
  font-size: 12px;
}

div.material-table table th {
  font-size: 12px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  height: 56px;
  padding-left: 56px;
  vertical-align: middle;
  outline: none !important;
}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
  color: rgba(0, 0, 0, 0.87);
}

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "arrow_back";
  -webkit-transform: rotate(90deg);
  display: none;
  vertical-align: middle;
}

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  display: inline-block;
}

div.material-table table th.sorting_desc:after {
  content: "arrow_forward";
}

div.material-table table tbody tr:hover {
  background-color: #EEE;
}

div.material-table table th:first-child,
div.material-table table td:first-child {
  padding: 0 0 0 24px;
}

div.material-table table th:last-child,
div.material-table table td:last-child {
  padding: 0 14px 0 0;
}



